# SiFli SF32LB56X all MCU lines
# Copyright (c) 2016 Open-RnD Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_SF32LB
	bool

#config CODE_DATA_RELOCATION_SRAM
#    bool
#    default y

config SOC_FAMILY
	default "sf32lb56x" if SOC_SERIAL_SF32LB56X
	default "sf32lb52x" if SOC_SERIAL_SF32LB52X

rsource "*/Kconfig.soc"
