# SPDX-FileCopyrightText: 2025 SiFli Technologies(Nanjing) Co., Ltd
# SPDX-License-Identifier: Apache-2.0

if WATCHDOG

module = WDT
module-str = watchdog
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif # WATCHDOG