# SPDX-FileCopyrightText: 2025 SiFli Technologies(Nanjing) Co., Ltd
# SPDX-License-Identifier: Apache-2

if SERIAL

module = UART
module-str = uart
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif # SERIAL