# SiFli SF32LB52X

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# Copyright (c) 2016 BayLibre, SAS
# SPDX-License-Identifier: Apache-2.0

# Kconfig symbols common to SF32LB52X series

if SOC_SERIES_SF32LB52X

rsource "Kconfig.defconfig.sf32lb52*"

endif # SOC_SERIES_SF32LB52X
