#
# SPDX-FileCopyrightText: 2025 SiFli Technologies(Nanjing) Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_SF32LB
	bool "PINCTRL Driver for SF32LB family of MCUs"
	default y
	depends on DT_HAS_SIFLI_SF32LB_PINCTRL_ENABLED
	help
	  Enable PINCTRL driver for SF32LB series of MCUs